<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_URL:-localhost:15000}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <pattern>
                    <pattern>{"serviceID":"shopping-mall-api"}</pattern>
                </pattern>
                <timestamp/>
                <context/>
                <threadName/>
                <logLevel/>
                <message/>
                <loggerName/>
                <logstashMarkers/>
                <stackTrace/>
                <callerData/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
